* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    --hovertext:#b0b0b0;
    --biggray: #f0f0f0;
    --biggreen: #3f5c3c;
    --greencard: #649460;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    padding: 0px;
    margin: 0px;
    background: var(--biggray);
    text-transform: lowercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    margin-left: 10px;
    color: var(--biggray);
}

a:visited {
    color: var(--biggray);
}

a:hover {
    color: var(--hovertext);
}

header {
    background: var(--biggreen);
    display: flex;
    justify-content: space-between;
    height: 8rem;
    width: 100%;
    position: fixed;
}

h1 {
    padding: 2.3rem 1.5rem;
    color: var(--biggray);
    font-size: 36px;
    text-transform: uppercase;
}

h2, h3, p {
    color: var(--biggray);
}

h3 {
    padding-bottom: 1rem;
}

.aboutmeTitle {
    padding-bottom: 1.5rem;
}

.navLinks {
    padding: 2.7rem 1.5rem;
    
    list-style-type: none;
    color: var(--biggray);
    font-size: 14px;
    text-align: right;
}

main {
    margin: 8.5rem auto;
    color: var(--biggray);
    flex: 4;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start
}

.biopic {
    max-width: 30%;
    height: auto;
    float: left;
    margin-right: 1.5rem;
    border-radius: 20px;
}
.about {
    background-color: var(--greencard);
    max-height: 100%;
    max-width: 85%;
    padding: 1.5rem;
    margin: 1.5rem;
    border-style: solid;
    border-width: 2px;
    border-color: var(--biggreen);
    border-radius: 20px;
    box-shadow: 15px 15px 5px var(--hovertext);
    overflow: auto;
}
#projects {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.webapp1, .webapp2, .webapp3, .webapp4 {
    flex: 1 1 100%;
    background-color: var(--greencard);
    max-height: 100%;
    max-width: 20rem;
    padding: 1.5rem;
    margin: 1.5rem;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--biggreen);
    border-radius: 20px;
    box-shadow: 15px 15px 5px var(--hovertext);
}

.webapp1Img, .webapp2Img, .webapp3Img, .webapp4Img {
    display: flex;
    position: relative;
    top: -20px;
    width: 100%;
    border-radius: 20px;
}

.webapp1Img:hover, .webapp2Img:hover, .webapp3Img:hover, .webapp4Img:hover {
    opacity: .5;
    transition: .5s ease;
}

footer {
    background: var(--biggreen);
    text-align: center;
    padding: 1.75rem;
    width: 100%;
    height: 8rem;
    bottom: 0;
    position: fixed;
    display: inline-block;
    clear: both;
}